@using System.IdentityModel.Tokens.Jwt
@using BlazorTodoClient.Features.Authx.Store
@using BlazorTodoClient.Features.Navigation.Store

@inject IAuthxService AuthxService
@inject INavigationService Navigation

<AuthorizeView>
    <Authorized>
        Hello, @(context.User.FindFirst(JwtRegisteredClaimNames.Name)?.Value ?? "unknown user")
        <a href="/logout" @onclick="AuthxService.Logout" @onclick:preventDefault>Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/register" @onclick="@(() => Navigation.NavigateTo("/register"))" @onclick:preventDefault>Register</a>
        <a href="/login" @onclick="@(() => Navigation.NavigateTo("/login"))" @onclick:preventDefault>Login</a>
    </NotAuthorized>
</AuthorizeView>